<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- 屏幕适配 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- webapp -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 启用webkit内核模式浏览器 -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 页面关键字 -->
    <meta name="keywords" content=""/>
    <!-- 页面描述 -->
    <meta name="description" content=""/>


    <link href="~/Content/css/H-ui.min.css" rel="stylesheet"/>
    <link href="~/Content/css/public.css" rel="stylesheet"/>
    <link href="~/Content/css/header.css" rel="stylesheet"/>
    <link href="~/Content/css/login.css" rel="stylesheet"/>
    <!-- login -->
    <!-- personal -->
    <link href="~/Content/css/iconfont.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../bower/html5.js"></script>
    <![endif]-->

    <script src="~/Content/bower/jquery.1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Web/scroll.js"></script>
    <script src="~/Content/bower/H-ui.js"></script>
    <script src="~/Content/bower/jquery.SuperSlide.min.js"></script>
</head>
<body>@RenderBody()</body>
</html>

